body {
   background: lightgray;
}

svg#processChart {
   width : 100%;
   height:330px;
   border: 1pt solid black;
}


h1 {
   font-family: sans;
   font-size: 20px;
}

.device-connected-indicator {
   color: green;
}

.device-disconnected-indicator {
   color: brown;
}

.formLabel {
   width: 100px;
   display: inline-block;
   x-margin-left: 5px;
      margin: 4px;
}

.formField {
   background: #DDD;
   padding: 5px;

}

legend {
   width: 200px;
   background: #EEE;
}

legend input {
   border: none;
   background: none;
}

table {
   min-width: 30%;
   border-collapse: collapse;
}

td {
   border: 1pt solid navy;
   min-width: 100px;
}